h1 {
  margin-top: 0px;
  margin-bottom: 0px;
}

P {
  margin-top: 0px;
}

body {
  margin: 0px;
  width: 100%;
}

header {
  background: #e1e1e1;
  width: 100%;
}

.page1 {
  width: 100%;
  height: 45vw;
  background: #e1e1e1;
}

.menu-page1 {
  float: right;
  margin-top: 30px;
}

.menu-page1 li {
  display: inline-block;
  margin-left: 50px;
  font-weight: 600;
  color: rgb(77, 77, 77);
  text-transform: uppercase;
}

.text-page1 p {
  color: gray;
  font-weight: 700;
  font-size: 20px;
}

.text-page1 h1 {
  color: rgb(77, 77, 77);
  font-size: 70px;
}

.content-page1 {
  width: 90%;
  margin: 0 auto;
}

.text-page1 {
  display: inline-block;
  padding-top: 10%;
}

.but1-page1 {
  border: 0px;
  width: 160px;
  height: 50px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
  font-weight: 700;
  color: rgb(77, 77, 77);
  text-transform: uppercase;
}

.but2-page1 {
  width: 160px;
  height: 50px;
  border: 1px solid rgb(77, 77, 77);
  color: rgb(77, 77, 77);
  background: none;
  font-weight: 700;
  text-transform: uppercase;
}

.page2 {
  width: 100%;
  height: 45vw;
  background: ffffff;
}

.content-page2 {
  width: 90%;
  margin: 0 auto;
}

.text-page2 {
  display: inline-block;
  padding-top: 20%;
  width: 45%;
}

.text-page2 p {
  color: gray;
  font-weight: 500;
  font-size: 20px;
  color: rgb(77, 77, 77);
}

.text-page2 h1 {
  text-transform: uppercase;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  line-height: 1.065;
}

.but1-page2 {
  margin-left: 10px;
  width: 200px;
  height: 50px;
  border: 1px solid rgb(77, 77, 77);
  background: none;
  font-weight: 700;
  font-size: 1gigit5px;
  color: rgb(77, 77, 77);
  text-transform: uppercase;
}

.page3 {
  width: 100%;
  height: 45vw;
  background: #f6f6f6;
}

.page3 ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  padding: 0px;
}

.page3 li {
  padding-top: 50px;
  list-style-type: none;
  text-align: center;
  width: 33%;
}

.content-page3 {
  width: 90%;
  margin: 0 auto;
}

.content-page3 h2 {
  padding-top: 10%;
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  line-height: 1.065;
}

.icon-page3 p {
  font-size: 24px;
  font-family: "Myriad Pro";
  color: rgb(77, 77, 77);
}

.page4 {
  width: 100%;
  height: 45vw;
  background: #ffffff;
}

.content-page4 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.content-page4 h3 {
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  line-height: 1.065;
}

.page5 {
  width: 100%;
  height: 70vw;
  background: #f6f6f6;
}

.content-page5 {
  width: 90%;

  margin: 0 auto;
  text-align: center;
}

.content-page5 ul {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  width: 100%;
  padding: 0px;
}

.content-page5 li {
  padding-top: 20px;
  padding-bottom: 20px;
  list-style-type: none;
  text-align: center;
  width: 30%;
}

.content-page5 h4 {
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  line-height: 1.065;
}

.but1-page5 {
  margin-top: 10px;
  background-color: white;
  box-shadow: 0px 18px 26.68px 2.32px rgba(0, 0, 0, 0.1);
  width: 160px;
  height: 50px;
  border: 1px solid rgb(77, 77, 77);
  color: rgb(77, 77, 77);
  background: none;
  font-weight: 700;
  text-transform: uppercase;
  border: 0px;
}

.midle-li-page5 {
  margin-left: 5%;
  margin-right: 5%;
}

.page6 {
  width: 100%;
  height: 35vw;
}

.content-page6 {
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.massage-page6 {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  height: 100%;
  text-align: left;
  padding: 30px;
  width: 50%;
  border: 1px solid #212121;
  margin: 0 auto;
}

.img-page6 {
  padding-top: 5%;
  float: left;
  width: 30%;
}

.img-page6 img {
  float: right;
}

.text-page6 {
  float: left;
  width: 67%;
  padding-left: 3%;
}

.content-page6 ul {
  display: flex;
  margin: 0 auto;
  padding: 0px;
}

.content-page6 li {
  border: 1px solid black;
  list-style-type: none;
  margin-left: 5px;
  width: 10px;
  height: 10px;
}

.massage-page6 h6 {
  color: rgba(33, 33, 33, 0.902);
  font-size: 25px;
  text-transform: uppercase;
  margin-top: 7%;
  margin-bottom: 4%;
}

.content-page6 h5 {
  padding-top: 5%;
  text-align: center;
  text-transform: uppercase;
  font-size: 46px;
  font-family: "Asap";
  color: rgba(77, 77, 77, 0.8);
  font-weight: bold;
  line-height: 1.065;
}

.message-text-page6 {
  font-size: 14px;
  color: rgba(33, 33, 33, 0.6);
  text-transform: uppercase;
  line-height: 1.625;
}

.company-name-page6 {
  font-size: 12px;
  color: rgba(33, 33, 33, 0.902);
  text-transform: uppercase;
}

.black-page6 {
  background-color: black;
}

.page7 {
  width: 100%;
  height: 17vw;
  background: #f6f6f6;
}

.content-page7 {
  padding-top: 5%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
}

.content-page7 ul {
  display: flex;
  margin: 0 auto;
  padding: 0px;
  width: 100%;
}

.content-page7 li {
  list-style-type: none;
  width: 25%;
}

.number-page7 {
  font-size: 30px;
  color: rgba(33, 33, 33, 0.902);
  text-transform: uppercase;
  padding-top: 1%;
  margin-bottom: 1%;
  font-weight: 700;
}

.name-page7 {
  font-size: 25px;
  color: rgba(33, 33, 33, 0.902);
  text-transform: uppercase;

}

.page8 {
  margin-top: 10%;
  width: 100%;
  background-size: 100%;
  background-image: url(pic/page8/1.png);
  height: 40vw;
}

.content-heder {
  width: 90%;
  margin: 0 auto;
}

.pic-man {
  display: inline-block;
  float: right;
}

.logo {
  display: inline-block;
  margin-top: 20px;
}

.pic-about {
  display: inline-block;
  float: right;
  padding-top: 10%;
  width: 45%;
}

.pic-about img {
  float: right;
}

.parent {
  display: grid;
  justify-content: space-around;
}

.line {
  text-decoration: overline;
}

.icon-page5 img {
  width: 100%;
}

.linedown {
  text-decoration: underline;
}

.icon-page7 li img {
  height: 70px;
  width: auto;
}